# AWS Configuration
aws_region = "us-east-1"

# Cluster Configuration
cluster_name    = "Ambience Cloud"
cluster_version = "1.28"
environment     = "dev"

# VPC Configuration
vpc_cidr           = "10.0.0.0/16"
availability_zones = ["us-east-1a", "us-east-1b", "us-east-1c"]

# Subnet Configuration
private_subnet_cidrs = ["10.0.1.0/24", "10.0.2.0/24", "10.0.3.0/24"]
public_subnet_cidrs  = ["10.0.101.0/24", "10.0.102.0/24", "10.0.103.0/24"]

# Node Group Configuration
node_group_instance_types   = ["t3.medium"]
node_group_desired_capacity = 2
node_group_max_capacity     = 4
node_group_min_capacity     = 1
node_group_capacity_type    = "ON_DEMAND"
node_group_ami_type         = "AL2_x86_64"
node_group_disk_size        = 20